test_files/node-red_setup/node_setup.js
[{"id":"d278955827602fa0","type":"tab","label":"Temperature Sensor Protocol","disabled":false,"info":"","env":[]},{"id":"4697139c.bf618c","type":"tcp in","z":"d278955827602fa0","name":"","server":"server","host":"","port":"8088","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"tls":"","x":100,"y":240,"wires":[["b94d4a7feeec194b"]]},{"id":"65fdcb86d87fc97d","type":"file","z":"d278955827602fa0","name":"","filename":"/Users/mlacombe/Documents/tests/T_sensor/Tsensor.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":730,"y":240,"wires":[[]]},{"id":"b94d4a7feeec194b","type":"function","z":"d278955827602fa0","name":"","func":"var now = new Date().toLocaleString(\"fr-FR\");\nnow += \", \" + msg.payload\nreturn {payload: now};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["65fdcb86d87fc97d"]]}]
